* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}

.blur-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1px);
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.hide {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5%;
  background-color: #db4c3f;
}

.menuButton {
  display: none;
  font-size: 3.5vh;
  color: #fff;
  background-color: #db4c3f;
  margin: 0 auto 0 1.5vh;
}

.title {
  position: absolute;
  font-size: 4vh;
  color: #fafafa;
}

#main {
  display: flex;
  justify-content: center;
  height: 95.5%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 15.85%;
  background-color: #fafafa;
}

.projects {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  margin: 10% 25% 0 0;
}

.projectsTitle {
  padding: 0 0.5vh 0.25vh 0;
  border-bottom: solid 1px #aaa;;
  border-right: solid 1px #ccc;
}

.addProject {
  width: 100%;
  font-size: 1.8vh;
  text-decoration: none;  
  margin: 10% 0 0 25%;
}

.addProject:hover {
  cursor: pointer;;
  text-decoration: underline;
}

/* addProjectPopup.js */
.projectPopup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width:20%;
  height:30%;
  min-height: 450px;
  min-width: 300px;
  background-color: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2%;
  align-self: center;
  z-index: 1;
}

.popupTitle {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #ccc;
  border-bottom: solid 1px #aaa;
  padding: 15% 0 3% 0;
}

.inputProjectName {
  padding: 8px 0 3px 0; 
  margin-bottom: 45%;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-bottom: 3.5%;
}

.buttonContainer > input {
  padding: 5px 10px;
  margin-right: 5%;
  border-radius: 8%;
}

.buttonContainer > input:nth-child(1) {
  margin-right: 5%;
}

.buttonContainer > input:nth-child(2) {
  background-color: #db4c3f;
  color: #FFF;
}
/* End popup */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 84.15%;
}

.add-task {
  cursor: pointer;
  color: #aaa;
  font-size: 1.65vh;
}

.red-plus {
  position: relative;
  color: #db4c3f;
  border-radius: 50%;
  padding: 0 0.5vh;
}

.add-task:hover {
  color: #db4c3f;
}

.red-plus:hover {
  background-color: #db4c3f;
  color: #fff;
}


@media screen and (max-width: 800px) {
  
  .title {
    font-size: 3vh;
  }
  
  .menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #sidebar {
    display: none;
  }
}